---

---

<div
  class="relative flex md:flex-row gap-0 justify-center text-center md:text-left flex-col bg-[#39a900] mx-2 rounded-3xl  bg:px-5 xs2:px-16 md:px-6 md1:px-20 overflow-hidden py-10"
>
  <div
    class="relative flex flex-col xl:flex-row bg:w-full xl:w-[1280px] mx-auto z-40"
  >
    <article class="w-full flex flex-col   my-auto mx-auto px-4">
      <!--Aqui va la sección del titulo principal-->
   
        <h3
          class="font-Blinker text-4xl md:text-5xl xl:text-6xl text-center xl:text-left mx-auto w-fit text-white font-bold mb-5 leading-10"
        >
          ¡Pertenece a la <strong class="font-[700] bg-white text-[#39a900] px-2 py-0 rounded-md">mejor plataforma</strong
          > de turismo del Huila hoy mismo!
        </h3>

      <!--Aqui termina la sección del titulo principal-->
      <!--Aqui el parrafo descriptivo del titulo principal-->

        <p
          class=" text-white mx-auto md:mx-0 w-fit font-semibold text-2xl md:text-2xl font-sans"
          >Descubre el encanto del Huila con nuestra app de turismo. Descárgala
          gratis y disfruta de guías, recomendaciones y actividades
          emocionantes. Sin costos ni condiciones, aumenta tu visibilidad y
          reconocimiento con CenturHuila. ¡Descárgala ahora y vive experiencias
          inolvidables en el Huila!</p
        >
   
      <!--Aqui el parrafo descriptivo del titulo principal-->
      <!--Aqui va las dos insignias de descarga (Play store & AppStore)-->
      <section
        class="flex flex-row  justify-center xl:justify-start  px-5 md:px-0  my-5"
      >
        <a
          href="https://play.google.com/store/apps/details?id=com.palhuila.palhuila"
          target="_blank"
        >
          <img
            width="200rem"
            height="200rem"
           
            src="GooglePlay.svg"
            loading="lazy"
            alt="Descargar en Google Play"
          />
        </a>
        <div class="mx-2"></div>
        <a
          href="https://apps.apple.com/co/app/centurhuila-3-0/id1598598341"
          target="_blank"
        >
          <img
          width="200rem"
          height="200rem"
            src="Ios.svg"
            loading="lazy"
            alt="Descargar en App Store"
          />
        </a>
      </section>
      <!--Aqui termina las dos insignias de descarga (Play store & AppStore)-->
    </article>
    <!--Aqui termina el articulo que ocupa el 70% del ancho-->


      <img
        class="w-80 min-w-80 min-h-[496px] h-auto mx-auto"
        src="/Wire.webp"
        width="496"
          height="496"
        alt="Mockup1"
      />

  </div>

</div>