<section
  class="bg-white"
  id="contactenos"
>
  <!-- ?Fondo verde oscuro en forma de elipse -->
  <div
    class="bg-primary-500 pt-24 pb-24 "
    style="clip-path: ellipse(80% 100% at center top)"
  >

  <div class="xl:w-[1280px]  mx-auto flex flex-col ">

      <h4 class="text-center font-Blinker font-black text-white text-5xl xl:text-6xl 4xl:text-8xl">¡Anímate a contactarnos!</h4>
      <hr class="border-primary-200 opacity-100 border-4 w-[80%] mx-auto my-0">
      <div class="flex ">



      </div>
  </div>


  </div>
</section>